.table {
  background-color: white;
  color: #6a5d5d;
  margin-top: 20px;
  max-height: 400px;
  overflow: scroll;
}
.table > tr {
  display: flex;
  justify-content: space-between;
}
.table > tr > td {
  padding: 0.5rem;
}
.table > tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table::-webkit-scrollbar {
  display: none;
}
.table {
  ms-overflow-style: none;
  scrollbar-width: none;
}
